/*
.begin {
	background-image: url('../img/start.png');
}

.end {
	background-image: url('../img/end.png');
}

.if {
	background-image: url('../img/if.png');
}

.web-service {
	background-image: url('../img/web-service.png');
}

.rest {
	background-image: url('../img/rest-service.png');
}

.java-method {
	background-image: url('../img/java-big.png');
}
*/