.featureBar-close {
	position: absolute;
	right: 15px;
	top: 10px;
	font-size: 25px;
	z-index: 1;
}

.feature-bar {
	position: absolute;
	bottom: 0px;
	height: 350px;
	width: 99.7%;
	background: #FFFFFF;
	margin-left: -13px;
	-moz-box-shadow: 0px 0px 6px #000000;
	-webkit-box-shadow: 0px 0px 6px #000000;
	box-shadow: 0px 0px 6px #000000;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default	{
	border: 1px solid #d3d3d3;
	background: #e6e6e6 url(images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
	font-weight: normal;
	color: #555555;
}

.ui-state-hover a, 
.ui-state-hover a:hover, 
.ui-state-hover a:link, 
.ui-state-hover a:visited {
	color: #212121;
	text-decoration: none;
}

.component-feature-container {
	
	height: 275px;
}

.feature-tab-item {
	display: none!important;
}

.feature-info {
	
}

.component-info {
	
}

.component-name {
	
}

.feature-input {
	width: 250px;
	padding: 8px 8px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #9d9e9e;
	text-shadow: 1px 1px 0 rgba(256, 256, 256, 1.0);
	background: #fff;
	border: 1px solid #fff;
	border-radius: 5px;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
	-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	margin: 0;
}

.wsdl-input {
	width: 63%;
}

.WebService-feature {
	
}

.component-feature-container {
	
}

.component-feature {
	width: 50%;
	float: left;
	height:100%;
	position: relative;
}

.read-wsdl-button {
    margin-top: -3px;
}

.get-operation-button {
	margin-left: 30px;
    margin-top: -3px;
}

.ws-run-button {
	display: none;
	position: absolute;
	bottom: 0px;
	right: 0px;
}

.feature-tabs {
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	height: 341px;
}

.custom-combobox {
	position: relative;
	display: inline-block;
	width: 47.3%;
}

.custom-combobox-toggle {
	position: absolute;
	top: 0;
	bottom: 0;
	margin-left: -1px;
	padding: 0;
	/* support: IE7 */
	*height: 1.7em;
	*top: 0.1em;
}

.custom-combobox-input {
	margin: 0;
	padding: 0.3em;
	width: 94%;
}

.ws-select {
	display: none;
	margin-top: 25px;
}

.ui-autocomplete { 
	height: 150px; 
	overflow-y: scroll; 
	overflow-x: hidden;
}

#param-name-container {
	display: none;
}

.params-container {
	margin-left: 30px;
}

.param-container {
	height: 45px;
	margin-bottom: 10px;
}

.param-type {
	float: right;
	margin-right: 25px;
}

.param-input {
	float: right;
	margin-right: 15px;
}

.component-label-container {
	margin-top: 25px;
}