html {
	height: 100%;
}

body {
	font-family: "Trebuchet MS", "Arial", "Helvetica", "Verdana", "sans-serif";
	height: 100%;
	width: 100%;
	background: #16385E;
}

@media ( min-width : 1200px) {
	.container {
		max-width: 100%;
	}
}

*,*:before,*:after {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

@media ( min-width : 768px) {
	.navbar-wrapper {
		margin-top: 20px;
	}
	
	.navbar-wrapper .navbar {
		border-radius: 4px;
	}
	
	.navbar-wrapper > .container {
		padding: 0px;
	}
}

.navbar-inverse {
	background-color: #ffe000;
	border-color: #16385E;
}

.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus {
	color: #ffffff;
	background: #A8A8A8;
	-moz-box-shadow: 0px 0px 3px #000 inset;
	-webkit-box-shadow: 0px 0px 3px #000 inset;
	box-shadow: 0px 0px 3px #000 inset;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
	color: #000000;
}


.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
	color: #A8A8A8;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
	color: #ffffff;
	background: #A8A8A8;
}

.list-group-item {
	padding: 5px 5px;
}

.list-group {
	margin-bottom: 0px;
}

.list-item-container {
	height: 50px;
	position: relative;
}

.list-item-label {
	position: absolute;
	left: 60px;
	top: 15px;
}

.ui-timepicker-div .ui-widget-header {
	margin-bottom: 8px;
}

.ui-timepicker-div dl {
	text-align: left;
}

.ui-timepicker-div dl dt {
	float: left;
	clear: left;
	padding: 0 0 0 5px;
}

.ui-timepicker-div dl dd {
	margin: 0 10px 10px 45%;
}

.ui-timepicker-div td {
	font-size: 90%;
}

.ui-tpicker-grid-label {
	background: none;
	border: none;
	margin: 0;
	padding: 0;
}

.ui-timepicker-rtl {
	direction: rtl;
}

.ui-timepicker-rtl dl {
	text-align: right;
	padding: 0 5px 0 0;
}

.ui-timepicker-rtl dl dt {
	float: right;
	clear: right;
}

.ui-timepicker-rtl dl dd {
	margin: 0 45% 10px 10px;
}


#read-wsdl-button {
	border: 1px solid #A8A8A8;
    background-color: #16385E;
    cursor: pointer;
    font-family: "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, sans-serif;
    letter-spacing: 2px;
    padding: 7px;
    color: #ffffff;
    margin-top: -3px;
}

#read-wsdl-button:hover {
    background-color: #A8A8A8;
    color: #ffffff;
    border: 1px solid #A8A8A8;
}

.ace-button {
	border: 1px solid #A8A8A8;
    background-color: #16385E;
    cursor: pointer;
    font-family: "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, sans-serif;
    letter-spacing: 2px;
    padding: 7px;
    color: #ffffff;
}

.ace-button:hover {
    background-color: #A8A8A8;
    color: #ffffff;
    border: 1px solid #A8A8A8;
}

.bar-transition {
	-webkit-transform-style: preserve-3d;
	-webkit-transition: all 0.3s linear;
	-moz-transform-style: preserve-3d;
	-moz-transition: all 0.3s linear;
	-o-transform-style: preserve-3d;
	-o-transition: all 0.3s linear;
	transform-style: preserve-3d;
	transition: all 0.3s linear;
}

