#htmlPallet-container {
	position: relative;
	height: 1100px;
}

#htmlPallet-container table {
	font-size: 1em;
}

.demo-description {
	clear: both;
	padding: 12px;
	font-size: 1.3em;
	line-height: 1.4em;
}

.ui-draggable,.ui-droppable {
	background-position: top;
}

#cart h1, #products h1 {
	padding:10px;
	margin: 0;
	font-size: 15px;
}

#cart h2, #products h2 {
	font-size: 15px;
}

#products {
	float: left;
	width: 20%;
	position: absolute;
}

#cart {
	width: 76%;
	right: 15px;
	position: absolute;
}

#cart ol {
	margin: 0;
	padding: 1em 0 1em 3em;
}

.view {
	height: 600px;
}

.ui-widget-header {
	border: 1px solid #16385E;
	background: #ffe000;
	color: #000;
	font-weight: bold;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
}

.ui-tabs .ui-tabs-nav {
	margin: 0;
	padding: .2em .7em 0;
}

.component-img {
	width: 50px;
}
/*
.generated-item {
	height: 50px;
	position: relative;
	border: 1px solid #000000;
	padding: 10px 5px;
	cursor: pointer;
}

.generated-item-label {
	position: absolute;
	left: 26px;
	top: 6px;
}
*/

.notification-container {
    position: fixed;
    z-index: 1050;
    bottom: 50%;
    left: 39%;
    width: 300px;
    padding: 5px 0px;
    display: block;
}

.appStore-notification {
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: relative;
}

.notification-close {
	position: absolute;
	right: 5px;
	top: 5px;
	font-size: 17px;
}