#htmlPallet-container {
	position: relative;
	height: 1100px;
}

#htmlPallet-container table {
	font-size: 1em;
}

.demo-description {
	clear: both;
	padding: 12px;
	font-size: 1.3em;
	line-height: 1.4em;
}

.ui-draggable,.ui-droppable {
	background-position: top;
}

#cart h1, #products h1 {
	padding:10px;
	margin: 0;
	font-size: 15px;
}

#cart h2, #products h2 {
	font-size: 15px;
}

#products {
	float: left;
	width: 20%;
	position: absolute;
}

#cart {
	width: 76%;
	right: 15px;
	position: absolute;
}

#cart ol {
	margin: 0;
	padding: 1em 0 1em 3em;
}

.view {
	height: 600px;
}

.ui-widget-header {
	border: 1px solid #16385E;
	background: #ffe000;
	color: #000;
	font-weight: bold;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
}

.ui-tabs .ui-tabs-nav {
	margin: 0;
	padding: .2em .7em 0;
}

.component-img {
	width: 50px;
}
/*
.generated-item {
	height: 50px;
	position: relative;
	border: 1px solid #000000;
	padding: 10px 5px;
	cursor: pointer;
}

.generated-item-label {
	position: absolute;
	left: 26px;
	top: 6px;
}
*/

.view-bar {
	background: #ffe000;
	width: 160px;
	position: absolute;
	z-index: 1000;
	top: 520px;
	left: 0px;
	-moz-box-shadow: 0px 0px 6px #000;
	-webkit-box-shadow: 0px 0px 6px #000;
	box-shadow: 0px 0px 6px #000;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
}

.view-bar-item {
	width: 100%;
	float: right;
	text-align: right;
	padding-top: 20px;
	padding-right: 15px;
	padding-bottom: 20px;
	padding-left: 25px;
}

.view-bar-item:hover {
	text-decoration: none;
	cursor: pointer;
	color: #FFFFFF;
	background: #A8A8A8;
	-moz-box-shadow: 0px 0px 3px #000 inset;
	-webkit-box-shadow: 0px 0px 3px #000 inset;
	box-shadow: 0px 0px 3px #000 inset;
}

.view-bar-item label:hover {
	cursor: pointer;
}

.item-first {
	border-top-right-radius: 10px;
}

.item-last {
	border-bottom-right-radius: 10px;
}

.view-item-img {
	width: 50px;
	margin-top: -12px;
}

.save-bar {
	background: #ffe000;
	width: 250px;
	position: absolute;
	z-index: 1000;
	top: 532px;
	left: -255px;
	-moz-box-shadow: 0px 0px 6px #000;
	-webkit-box-shadow: 0px 0px 6px #000;
	box-shadow: 0px 0px 6px #000;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
}

.save-bar label {
	text-align: center;
	width: 100%;
	margin-top: 5px;
	font-size: 1.3em;
}

.save-bar-close {
	position: absolute;
	right: 10px;
	top: 5px;
	font-size: 25px;
	z-index: 1;
}

#save-view-button {
    margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 60px;
}

.view-name-input {
	width: 200px;
	padding: 8px 8px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #9d9e9e;
	text-shadow: 1px 1px 0 rgba(256, 256, 256, 1.0);
	background: #fff;
	border: 1px solid #fff;
	border-radius: 5px;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
	-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	margin-left: 15px;
}

.temp-component {
	display: none;
}

.component-process-container {
	margin-top: 25px;
}

.test-process-button {
	left: 65%;
	position: absolute;
	margin-top: -3px;
}

.ui-selectable {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 60%;
}

.ui-selectable .ui-selected {
	background: #16385E;
	color: white;
}

.ui-selectable li {
	margin: 3px;
	padding: 0.4em;
	font-size: 1.1em;
	height: 18px;
}

.go-to-view-button {
	float: right;
}

.class-name {
	font-size: 1.2em;
}

.class-name {
	font-size: 1.2em;
}

.ws-response-item {
	margin-left: 35px;
}

.ws-item-field-name {
	float: left;
	font-weight: 600;
}

.ws-item-field-value {
	margin-left: 400px;
}
